.alert{
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
}
.alert .spanDanger{
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    border-radius: 4px;
}
.alert .spanSuccess{
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badccc;
    border-radius: 4px;
}

.conteudoTitulo{
    display: flex;
    justify-content: space-between;
}

.btnAnteriorEProximo{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

table thead{
    color: #fff;
}
table tbody .btnEditarEApagar{
    display: flex;
    justify-content: space-between;
}
.spanGreen{
    color: #0f5132;
}
.spanRed{
    color: #842029;
}
.spanYellow{
    color: #a5a526;
}
table tfoot{
    color: #fff;
}
table tfoot .deposito .valor{
    color: #0f5132;
}
table tfoot .pago .valor{
    color: #842029;
}
table tfoot .pendente .valor{
    color: #a5a526;
}

table tfoot .saldo .valor{
    color: #0f5132;
}
